body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    background-color: rgb(244, 241, 235)  ;
}
button {
    padding: 20px;
    margin: 20px;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(240, 228, 205);
    border-radius: 10%;
    box-shadow: 2px 2px 6px 2px;
}
h1 {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 18%;
}